/*reglas
selectores
declaraciones
propiedades 
valores*/ 

 /*Selector de etiqueta */
 /* header - section - article - nav */
 /*header {
    background: pink;
    color: red
 }*/
 
 /*Selector descendente*/
 /* body header div nav ol li a */ 

/*Selector de clase*/
/* .link */

/*Selector de ID*/
/* #portfolio */

/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?wpnp1x');
  src:  url(':/fonts/icomoon.eot?wpnp1x#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?wpnp1x') format('truetype'),
    url(':/fonts/icomoon.woff?wpnp1x') format('woff'),
    url(':/fonts/icomoon.svg?wpnp1x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}



/*--------GENERAL-------*/
body{
  font-family: 'Source Sans Pro',sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One',sans-serif; 
  font-weight: normal;
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0px auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.html_video {
  width: 100%;
  height: auto;
}

.youtube_video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.flexible_video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}
/*------FIN GENERAL-------*/

/*--------HEADER----------*/
.header{
  background-color: #1D252C;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  flex-wrap: wrap;
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: inherit;
  padding: 0 10px;
}

.menu {
  height: inherit;
}

figure {
  margin: 0;
}

.burger_button {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}
/*-------FIN HEADER-------*/

/*---------HERO-----------*/
.hero{
  height: 300px;
  background-color: #1D252C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero_image{
  object-fit: cover;
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  margin: 0px;
  color: white;
  /*text-transform: uppercase;
  text-decoration: underline;*/
}

h1 strong{
  color: #026fff;
}
/*-------FIN HERO---------*/

/*-------PORTFOLIO--------*/
.portfolio {
  background: #FAFAFA;
  padding: 20px;
}

.portfolio h2{
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.project{
  box-shadow: 2px 2px 10px #666;
  border-radius: 3px; 
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  padding: 20px;
  background: white;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.project strong {
  font-family: 'Fjalla One',sans-serif;
}

.project_course,
.project_date,
.project_url {
  margin: 10px 0;
}

.project_description {
  font-size: 20px;
}

.project_title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project_details{
  width: 50%;
}

.project_imageContainer{
  width: 50%;
}

.project_imageContainer img {
  max-width: 100%;
}
/*-----FIN PORTFOLIO------*/

/*---------EVENTOS--------*/
.event_list{
  display: flex;
  flex-wrap: wrap;
}


.event_list_title {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.event{
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event_detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event_description {
  text-align: left;
}

.event_url {
  color: #026fff;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
}

/*-------FIN EVENTOS------*/

/*--------CONTACTO--------*/
.contact{
  background-color: #026fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.social_link {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: 50px 50px; 
  margin: 0 10px;
}

.social_link.twitter{
  background-image: url('./imagenes/twitter.svg');
}

.social_link.facebook{
  background-image: url('./imagenes/facebook.svg');
}

.social_link.github{
  background-image: url('./imagenes/github.svg');
}

.social_link.instagram{
  background-image: url('./imagenes/instagram.svg');
}

.form_email input{
border-color: gray;
padding: 10px 20px 10px 25px;
border-radius: 5px;
border-style: solid;
background-image: url('./imagenes/envelope.svg');
background-size: 15px 15px;
background-repeat: no-repeat;
background-position-y:center; 
background-position-x: 5px;
}

.form_email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-style: solid;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form_email h3{
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: bold;
}
/*------FIN CONTACTO------*/

/*---------FOOTER----------*/
.footer{
  background-color: #1D252C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer a {
  color: white;
}

.footer img {
  position: relative;
  bottom: 2px;
  left: 3px;
  vertical-align: middle;
}

/*--------FIN FOOTER-------*/

/*-----MEDIA QUERIES-----*/
@media screen and (max-width: 1023px){
  .container {
    padding: 0 1em;
  }

  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  .hero_image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%
  }


  h1 {
    font-size: 2em;
    z-index: 2;
  }
}

@media screen and (max-width: 959px){
  .project {
    display: block;
  }

  .project_imageContainer {
    width: auto;
    text-align: center;
  }

  .project_details {
    width: auto;
    font-size: 18px;
  }

  .project_title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }

  .project_url {
    font-size: 1em;
  }

  .project_course {
    font-size: .7em;
  }

  .project_date {
    font-size: 1em;
  }

  .project_description {
    font-size: 1em;
  }

  .project_course, .project_date, .project_url {
    margin: .4em 0;
  }
}

@media screen and (min-width: 768px){
  .header {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}

@media screen and (max-width: 767px){

  .portfolio h2 {
    font-size: 1.4em;
  }

  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: block;
  }

  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }

  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background: rgba(2, 111, 255, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }

  .link.portafolio {
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0
  }

  .link.evento {
    position: absolute;
    left: 0;
    right: 0;
  }

  .link.contacto {
    position: absolute;
    bottom: 3.5em;
    left: 0;
    right: 0;
  }

  .menu.is_active {
    left: 0;
  }

  .project_details {
    font-size: 16px;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }

  .event_list_title {
    margin: .8em;
  }

  .burger_button {
    display: block;
  }
  .portfolio {
    padding: 0;
  }
}

@media screen and (max-width: 480px){
  .project_details {
    font-size: 14px;
  }

  .event_detail {
    margin: -2em .8em .8em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    display: block;
    text-align: center;
  }

  .form_email button {
    margin: 1em auto;
  }

  .form_email h3 {
    margin-top: 0;
  }

  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }

  .footer img {
    margin-top: .5em;
  }

  h1 {
    font-size: 1.5em;
    background: rgba(0,0,0,.5);
  }

  .social_link {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}

@media screen and (max-width: 320px){
  .project_details {
    font-size: 12px;
  }

  h1 {
    font-size: 1.2em;
    background: rgba(0,0,0,.5);
  }

  .hero {
    padding: 2em 1em;
  }
}